<ion-view view-title="Holonko">
    <ion-content has-header="true" padding="10">
        <h1>About Us</h1>
        <p><strong>Ownership</strong></p>
        <p>
            Holonko is Portal Developed and managed by Holonko E-Ventures Pvt Ltd. Having headquarters in Lucknow, Uttar Pradesh India. All rights and copyrights are owned by Holonko E-Ventures Pvt. Ltd. 
        </p>
        <p><strong>Objective</strong></p>
        <p>
            The objective behind the portal is to provide a platform where everyone can show his skills, experience and expertise so the world can know about him and provide him more opportunities of either career as freelancer or Job professional. Whatever kind of profession you have you can register yourself on portal and make a simple but beautiful profile on web. This profile can be accessed anywhere from all round the globe. Professional can apply of different jobs posted by the companies or assignments on the portal. 
        </p>
        <p>We have a single objective through our portal that we can organize the database of the professionals in such manner that it become useful for both professionals and the people who are looking for the professionals. </p>
        <p><strong>Mission</strong></p>
        <p>
            “To form the largest database of the professionals around the Globe.” 
        </p>
        <p><strong>Vision</strong></p>
        <p>
            “Provide the best platforms for the all kind of professionals, where world get the right professional and professional get the right opportunity.” 
        </p>
    </ion-content>
</ion-view>