<ion-view view-title="Contact">
    <ion-content padding="10">
        <h1>Office Locations</h1>
        <p><strong>Registered Office</strong></p>
        <p>
            <a href="geo:B-80, Nirala Nagar Opp SBI, Lucknow, Uttar Pradesh India, PIN 226006"><i class="ion-ios-location"></i></a> B-80, Nirala Nagar
            <br> Opp SBI, Lucknow, Uttar Pradesh
            <br> India, PIN 226006
        </p>
        <p><strong>Branch Office</strong></p>
        <p>
            <a href="geo:Flat No T-16,Chandra Paradise Apartment Chandganj Garden, Aliganj Lucknow, Uttar Pradesh India, PIN 226024"><i class="ion-ios-location"></i></a> Flat No T-16,
            <br> Chandra Paradise Apartment
            <br> Chandganj Garden, Aliganj
            <br> Lucknow, Uttar Pradesh
            <br> India, PIN 226024
        </p>
        <p><strong>Contact Details</strong></p>
        <p>Helpline No : <a href="tel:+91-7080104638">+91-7080104638</a></p>
        <p><strong>Contact Email ID</strong></p>
        <p>For Help & Support : <a href="emailto:help@holonko.com">help@holonko.com</a></p>
        <p>For Recruiters : <a href="emailto:recruiters@holonko.com">recruiters@holonko.com</a></p>
        <p>For Advertising : <a href="emailto:advertisers@holonko.com">advertisers@holonko.com</a></p>
    </ion-content>
</ion-view>