<ion-view view-title="Help Professionals" class="grey_bg" hide-nav-bar="true">
    <ion-content padding="10" class="help energized">
        <h3 class="energized">An Initiative</h3>
        <p>You can help those professionals who can’t create their online profile by themselves but they need more opportunities like, housemaid, Driver, Electrician, plumber or any professional. Just fill the details and holonko.com will create online profile for them.</p>
        <p>Help those who are not as lucky as you who is well educated to create own profile</p>
        <br>
        <p>
        <a ui-sref="app.addnewprofessional">Help Professional &nbsp;&nbsp;<i class="ion ion-arrow-right-c"></i></a>
        </p>
    </ion-content>
</ion-view>