<ion-view view-title="Step 2" hide-nav-bar="true" class="grey_bg">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Upload Profile Picture</h1>
    </div>
    <ion-content padding="10">
        <center>
            <img ng-src="profilePic" style="border-radius: 50%;width: 100%; height:100%;max-width: 120px;max-height: 120px;">
            <br>
            <br>
            <a class="button button-clear button-energized" ng-click="openMenu()">Profile Picture</a>
        </center>
    </ion-content>
    <div class="bar bar-footer bar-energized">
        <a class="button button-clear pull-right" ui-sref="login">Skip</a>
    </div>
</ion-view>