<ion-view view-title="Register" hide-nav-bar="true" class="grey_bg">
    <ion-content padding="10">
        <div class="list">
            <p class="form_logo">
                <img title="" alt="" src="img/logo.png" class="">
            </p>
            <div class="list energized">
                <h2 class="positive">The world of endless<br> Opportunities<br> Is waiting for you</h2>
            </div>
            <div class="list energized" style="text-align:right">
                <p>At Holonko you will get
                    <br> Online Clients
                    <br> Assignments/Work Contracts
                    <br> Part time jobs
                    <br> Freelancing Work
                    <br> Full time jobs
                    <br> Latest Happenings of Your Industry
                    <br> Professional Networking
                    <br> & A lot more facilities</p>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-energized">
        <button class="button button-clear pull-left" ng-click="goToLogin()"><i class="ion-ios-locked"></i></button>
        <button class="button button-clear pull-right" ng-click="doRegistration()">Next<i class="ion-arrow-right-c"></i></button>
    </div>
</ion-view>