<ion-view view-title="State">
    <ion-header-bar class="bar-positive">
        <h1 class="title">State</h1>
        <a class="button button-clear" side="left" ng-click="close()">
            <i class="ion-close-circled"></i>
        </a>
    </ion-header-bar>
    <div class="search">
        <label class="item item-input">
            <input type="text" placeholder="Search State" ng-model="search">
        </label>
    </div>
    <ion-content>
        <label class="item item-input">
            <input type="text" placeholder="Search" ng-model="search">
        </label>
        <ion-list>
            <ion-item ng-click="close(state)" ng-repeat="state in list|filter:{state_name:search}">
                {{state.state_name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>