<ion-view view-title="Invites">
    <div class="tabs-striped tabs-top tabs-positive">
        <div class="tabs">
            <a ui-sref="app.social.contacts" class="tab-item">
                Contacts
            </a>
            <a ui-sref="app.social.requests" class="tab-item">
                Send Requests
            </a>
             <a  ui-sref="app.social.invites" class="tab-item active">
                Invites
            </a>
        </div>
    </div>
    <ion-content>
        <ion-list can-swipe="true">
            <ion-item class="item-avatar" ng-repeat="item in items">
                <img ng-if="item.profile_image==''" src="http://holonko.com/user.png">
                <img ng-if="item.profile_image!=''" src="http://holonko.com/Profession/{{item.profile_image}}">
                <h2>{{item.professional_name}}</h2>
                <ion-option-button class="button-positive" ng-click="accept(item)">
                    <i class="ion ion-checkmark-circled"></i>
                </ion-option-button>
                <ion-option-button class="button-default" ng-click="delete(item)">
                    <i class="ion ion-close-circled"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="check()" on-infinite="fetchMore()" distance="1%">
        </ion-infinite-scroll>
        <br>
        <br>
    </ion-content>
</ion-view>