<ion-tabs class="tabs-striped tabs-top tabs-positive">
    <ion-tab icon-on="ion-ios-telephone" icon-off="ion-ios-telephone-outline" ui-sref="app.social.contacts">
        <div style="margin-top:40px">
            <ion-nav-view name="contacttab"></ion-nav-view>
        </div>
    </ion-tab>
    <ion-tab icon-on="ion-social-twitch" icon-off="ion-social-twitch-outline" ui-sref="app.social.messages">
        <ion-nav-view name="messages"></ion-nav-view>
    </ion-tab>
    <ion-tab icon-on="ion-android-notifications" icon-off="ion-android-notifications-none" ui-sref="app.social.notifications">
        <ion-nav-view name="notifications"></ion-nav-view>
    </ion-tab>
</ion-tabs>