<ion-view view-title="Applied Assignments">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                Results:{{result.total}}
            </div>
            <a class="item item-avatar" href="#/app/jobdetail/{{item.pk_com_jobpost_id}}" ng-repeat="item in list">
                <img ng-if="item.pic==''" src="http://holonko.com/user.png">
                <img ng-if="item.detail.pic!=''" src="http://holonko.com/Profession/{{item.detail.pic}}">
                <h2>{{item.detail.professional_name}}</h2>
                <p>{{item.detail.assignment_title}}</p>
                <p>Apply Date ::{{item.application_date}}</p>
                <p>Quotation ::{{item.budget_quoted}}</p>
            </a>
        </div>
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded>0" on-infinite="fetchMore()" distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>