<ion-view view-title="Job Detail">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img ng-if="detail.pic==''" src="http://holonko.com/user.png">
                <img ng-if="detail.pic!=''" src="http://holonko.com/Profession/{{detail.pic}}">
                <h2>{{detail.professional}}</h2>
                <p>{{detail.industry}}</p>
                <p>{{detail.specilization}}</p>
            </div>
            <div class="item item-body">
                <p><strong>{{detail.assignment_title}}</strong></p>
                <p><b>Post Date:</b> {{detail.start_date}}</p>
                <p><b>Last Date:</b> {{detail.last_application_date}}</p>
                <p><b>Detail :</b> {{detail.work_details}}</p>
                <p ng-hide="detail.assignment_file==''"><b>Attachment :</b><a href="http://holonko.com/Professional/{{detail.assignment_file}}" download>Download</a></p>
                <p><b>Budget :</b> {{detail.estimated_budget}}</p>
                <p><b>Address :</b> {{detail.work_address}}</p>
                <p><b>Location :</b> {{detail.country_name+"/"+detail.state_name+"/"+detail.city_name}}</p>
                <p><b>Contact :</b> <a href="tel:">{{detail.mobile_no}}</a></p>
            </div>
            <div class="item item-body"  ng-show="isLogin">
                <p><strong>Apply</strong></p>
                <label class="item item-input">
                    <input type="text" ng-model="assignment.amount" placeholder="Amount">
                </label>
                <label class="item item-input">
                    <textarea ng-model="assignment.message" placeholder="write your comment" rows="5"></textarea>
                </label>
                <button class="button button-block button-energized" ng-click="apply()">Submit Quoted</button>
            </div>
        </div>
    </ion-content>
</ion-view>